/* Tema criado por Caio Peres (https://github.com/cjperes/modern-l33t-theme) */

/* Esquema de cores */
.cm-string {
    color: #fdb415;
}

.cm-error {
    background: #e80b0b;
    color: #fff !important;
}

.cm-meta,
.cm-comment {
    color: #878787;
}

.cm-atom,
.cm-number,
.cm-link {
    color: #645bdf;
}

.cm-property,
.cm-attribute,
.cm-keyword {
    color: #ff0078;
}

.cm-string.cm-property,
.cm-variable,
.cm-variable-2 {
    color: #ff0078;
}

.cm-variable-3,
.cm-qualifier,
.cm-builtin {
    color: #5aff00;
}

.cm-operator,
.cm-tag {
    color: #F92672;
}

.cm-bracket,
.cm-def {
    color: #09b923;
}

/**
 * User Interface
 * ==============
 */
.CodeMirror,
.CodeMirror .CodeMirror-scroll {
    background: #000;
    color: #F8F8F2;
}

#not-editor,
#image-holder {
    background-color: #212121;
    color: #F8F8F2;
    transition: background-color 0.3s ease-out;
}

.CodeMirror {
    border-left-color: #1B1B1B;
}

div.CodeMirror-selected {
    background: #424242 !important;
}

.CodeMirror-gutters {
    background: #212121;
    border-right: 5px;
    color: #5aff00;
}

.CodeMirror-guttermarker {
    color: #F8F8F2;
}

.CodeMirror-guttermarker-subtle {
    color: #212121;
}

.CodeMirror-linenumber {
    color: #5aff00;
}

.CodeMirror-cursor {
    border-left: 1px solid #f8f8f0 !important;
}

.CodeMirror-activeline-background,
.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
    background: #373831 !important;
}

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
    color: #F8F8F2;
}

.CodeMirror-focused .CodeMirror-activeline .inline-widget .CodeMirror-gutter-elt {
    color: #767676;
}

.CodeMirror-matchingbracket {
    background-color: transparent !important;
    border-bottom: 1px solid; 
    color: #FFF !important;
    padding-bottom: 0.166em;
}

.CodeMirror-matchingtag {
    background-color: transparent;
    border-bottom: 1px solid #F8F8F2; 
    padding-bottom: 0.166em;
}


